<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>Leave management system</span>
  <button routerLink="/" style="margin-left: 70%" mat-raised-button color="warn">Apply Leave</button>
</mat-toolbar-row>
</mat-toolbar>

<!-- table -->
<div style="margin-top: 15px;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

 
  <ng-container matColumnDef="Emploee-id">
    <th mat-header-cell *matHeaderCellDef> E.id</th>
    <td mat-cell *matCellDef="let element"> {{element.eid}} </td>
  </ng-container>


  <ng-container matColumnDef="Fromdate">
    <th mat-header-cell *matHeaderCellDef>Fromdate</th>
    <td mat-cell *matCellDef="let element"> {{element.Fromdate}} </td>
  </ng-container>

  <ng-container matColumnDef="Todate">
    <th mat-header-cell *matHeaderCellDef>Todate</th>
    <td mat-cell *matCellDef="let element"> {{element.Todate}} </td>
  </ng-container>

 
  <ng-container matColumnDef="Reason">
    <th mat-header-cell *matHeaderCellDef>Reason</th>
    <td mat-cell *matCellDef="let element"> {{element.Reason}} </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef>Action</th>

    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary">
        <mat-icon>Edit</mat-icon>
      </button>
      <button mat-icon-button color="warning">
        <mat-icon>Delete</mat-icon>
      </button>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

